@model NewsAgency.Models.ChangePasswordInformation

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Scripts{

}
@section Links{
    @Html.Partial((string)ViewBag.PanelName)

}
@section Body{
    <h2>Change Password</h2>


    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Change Password</div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, null))
                    {

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.EditorFor(m => m.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Previous Password" } })
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password" } })


                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.EditorFor(m => m.NewPasswordRepeat, new { htmlAttributes = new { @class = "form-control", placeholder = "Repeat New Password" } })


                        </div>
                        <div style="margin-top:10px;color:red" class="form-group">
                            @Html.ValidationSummary()
                            @ViewBag.ErrorMessage
                        </div>
                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <input type="submit" value="Update Password" class="btn btn-success" />

                            </div>
                        </div>

                        <div style="margin-top:10px;color:green" class="form-group">

                            @ViewBag.SuccessfulMessage
                        </div>


                    }


                </div>
            </div>
        </div>

    </div>

}

